body {
  font-family: 'Bebas Neue', cursive;
  font-size: 16px;
  line-height: 1;
}

.jumbotron {
  text-align: center;
  background-image: url("./assets/doodle.jpg");
  background-size: cover;
  background-position: center center;
  color: white;
  border-radius: 0;
  border-bottom: 10px solid black;
}


#currentDay {
  background-color: black;
  color: white;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.4s ease-in-out;
}


.customButtonStyle:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
  background-color: black;
}

.customButtonStyle {
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 1.5px solid white;
  background-color: #068cd5;
}

.customFormStyle {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 20px;
  text-align: center;
}

.customHourStyle {
  padding-left: 30px;
  padding-right: 30px;
  border: 1.25px solid white;
  font-size: 22px;
}

#currentDay {
  margin-top: 38px;
  font-size: 28px;
}

footer p {
  text-align: center;
  margin: 20px;
  font-size: 25px;
}